.header {
  font-family: inherit;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 44px;
  margin-bottom: 1rem;
  margin-top: 20px;
  text-align: center;
}

.lead {
  font-size: 1.2rem;
  margin: 2rem auto;
  max-width: 760px;
}

@media all and (max-width: 800px) {
  .header {
    font-size: 3rem;
    line-height: 44px;
    text-align: left;
  }
}

@media all and (max-width: 600px) {
  .header {
    font-size: 2rem;
    line-height: 32px;
  }
}