.header {
  font-family: Publik, "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", "Bitstream Vera Sans", sans-serif;
  font-weight: bold;
}

:global {
  .nyh_share {
    &.nyh_share--article {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .nyh_share__button {
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff !important;
    display: inline-block;
    font-size: 1rem;
    height: 37px;
    line-height: 21px;
    margin-bottom: 8px;
    margin-right: 1%;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-top: 8px;
    text-decoration: none !important;
    width: 49%;

    @media all and (min-width: 800px) {
      width: 24%;
    }

    &.nyh_share__button--facebook {
      background-color: #3c5a98;

      &:active,
      &:hover {
        background-color: #273b74;
      }
    }

    &.nyh_share__button--twitter {
      background-color: #5fa9dc;

      &:active,
      &:hover {
        background-color: #3e8bd0;
      }
    }

    &.nyh_share__button--mail {
      background-color: #bf0020;;

      &:active,
      &:hover {
        background-color: #a90015;
      }
    }

    &.nyh_share__button--print {
      background-color: #e0e0e0;
      color: #606060 !important;

      &:active,
      &:hover {
        background-color: #d0d0d0;
      }
    }

    .nyh_share--article & {
      display: block;
      margin-bottom: 8px;
      width: 100%;
    }

    .nyh_share--story & {
      margin-left: 2%;
      max-width: 130px;
      width: 32%;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .nyh_share__text {
    display: inline-block;
    padding-left: 12px;
    vertical-align: middle;
  }
}
