@font-face {
    font-family: "svt-icons";
    src: url("fonts/svt-icons-33cc2446f6ebba3525cf4eb46fa39a7e.eot");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "svt-icons";
    src: url("fonts/svt-icons-33cc2446f6ebba3525cf4eb46fa39a7e.eot");
    src: url("fonts/svt-icons-33cc2446f6ebba3525cf4eb46fa39a7e.eot?#iefix") format("embedded-opentype"), url("fonts/svt-icons-33cc2446f6ebba3525cf4eb46fa39a7e.woff") format("woff"), url("fonts/svt-icons-33cc2446f6ebba3525cf4eb46fa39a7e.ttf") format("truetype"), url("fonts/svt-icons-33cc2446f6ebba3525cf4eb46fa39a7e.svg?#svt-icons") format("svg");
    font-weight: normal;
    font-style: normal
}
.svt_icon {
    font-family: "svt-icons";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.svt_icon--HD:before {
    content: "\f101"
}
.svt_icon--airplay:before {
    content: "\f102"
}
.svt_icon--angle-curved-left:before {
    content: "\f103"
}
.svt_icon--angle-curved-right:before {
    content: "\f104"
}
.svt_icon--angle-left:before {
    content: "\f105"
}
.svt_icon--angle-right:before {
    content: "\f106"
}
.svt_icon--arrow-down:before {
    content: "\f107"
}
.svt_icon--arrow-left:before {
    content: "\f108"
}
.svt_icon--arrow-right:before {
    content: "\f109"
}
.svt_icon--arrow-up:before {
    content: "\f10a"
}
.svt_icon--backward:before {
    content: "\f10b"
}
.svt_icon--ban:before {
    content: "\f10c"
}
.svt_icon--camera:before {
    content: "\f10d"
}
.svt_icon--caret-down:before {
    content: "\f10e"
}
.svt_icon--caret-left:before {
    content: "\f10f"
}
.svt_icon--caret-right:before {
    content: "\f110"
}
.svt_icon--caret-toggle:before {
    content: "\f111"
}
.svt_icon--caret-up:before {
    content: "\f112"
}
.svt_icon--clock:before {
    content: "\f113"
}
.svt_icon--close:before {
    content: "\f114"
}
.svt_icon--cog:before {
    content: "\f115"
}
.svt_icon--comment:before {
    content: "\f116"
}
.svt_icon--comments:before {
    content: "\f117"
}
.svt_icon--days-14:before {
    content: "\f118"
}
.svt_icon--days-30:before {
    content: "\f119"
}
.svt_icon--days-30plus:before {
    content: "\f11a"
}
.svt_icon--days-365:before {
    content: "\f11b"
}
.svt_icon--days-366:before {
    content: "\f11c"
}
.svt_icon--days-7:before {
    content: "\f11d"
}
.svt_icon--dot:before {
    content: "\f11e"
}
.svt_icon--down-circle:before {
    content: "\f11f"
}
.svt_icon--envelope:before {
    content: "\f120"
}
.svt_icon--facebook-square:before {
    content: "\f121"
}
.svt_icon--facebook:before {
    content: "\f122"
}
.svt_icon--fast-backward:before {
    content: "\f123"
}
.svt_icon--fast-forward:before {
    content: "\f124"
}
.svt_icon--forward:before {
    content: "\f125"
}
.svt_icon--fullscreen:before {
    content: "\f126"
}
.svt_icon--glass:before {
    content: "\f127"
}
.svt_icon--google-plus-square:before {
    content: "\f128"
}
.svt_icon--google-plus:before {
    content: "\f129"
}
.svt_icon--heart:before {
    content: "\f12a"
}
.svt_icon--info:before {
    content: "\f12b"
}
.svt_icon--instagram:before {
    content: "\f12c"
}
.svt_icon--knife-fork:before {
    content: "\f12d"
}
.svt_icon--left-circle:before {
    content: "\f12e"
}
.svt_icon--link-external:before {
    content: "\f12f"
}
.svt_icon--linked:before {
    content: "\f130"
}
.svt_icon--live:before {
    content: "\f131"
}
.svt_icon--mail:before {
    content: "\f132"
}
.svt_icon--menu:before {
    content: "\f133"
}
.svt_icon--minus-circle:before {
    content: "\f134"
}
.svt_icon--minus-square:before {
    content: "\f135"
}
.svt_icon--minus:before {
    content: "\f136"
}
.svt_icon--new-window:before {
    content: "\f137"
}
.svt_icon--pause:before {
    content: "\f138"
}
.svt_icon--pen:before {
    content: "\f139"
}
.svt_icon--phone-ban:before {
    content: "\f13a"
}
.svt_icon--phone:before {
    content: "\f13b"
}
.svt_icon--play-square:before {
    content: "\f13c"
}
.svt_icon--play:before {
    content: "\f13d"
}
.svt_icon--plus-circle:before {
    content: "\f13e"
}
.svt_icon--plus-square:before {
    content: "\f13f"
}
.svt_icon--plus:before {
    content: "\f140"
}
.svt_icon--position:before {
    content: "\f141"
}
.svt_icon--printer:before {
    content: "\f142"
}
.svt_icon--program:before {
    content: "\f143"
}
.svt_icon--question:before {
    content: "\f144"
}
.svt_icon--refresh:before {
    content: "\f145"
}
.svt_icon--remote:before {
    content: "\f146"
}
.svt_icon--replay:before {
    content: "\f147"
}
.svt_icon--right-circle:before {
    content: "\f148"
}
.svt_icon--rss:before {
    content: "\f149"
}
.svt_icon--schedule-compact:before {
    content: "\f14a"
}
.svt_icon--schedule-detailed:before {
    content: "\f14b"
}
.svt_icon--search:before {
    content: "\f14c"
}
.svt_icon--share:before {
    content: "\f14d"
}
.svt_icon--sight-square:before {
    content: "\f14e"
}
.svt_icon--sight:before {
    content: "\f14f"
}
.svt_icon--sign-language-square:before {
    content: "\f150"
}
.svt_icon--sign-language:before {
    content: "\f151"
}
.svt_icon--sound-higher:before {
    content: "\f152"
}
.svt_icon--sound-lower:before {
    content: "\f153"
}
.svt_icon--sound-lowest:before {
    content: "\f154"
}
.svt_icon--sound-off:before {
    content: "\f155"
}
.svt_icon--sound:before {
    content: "\f156"
}
.svt_icon--stop:before {
    content: "\f157"
}
.svt_icon--svt-play:before {
    content: "\f158"
}
.svt_icon--text-square:before {
    content: "\f159"
}
.svt_icon--text:before {
    content: "\f15a"
}
.svt_icon--tv-screen:before {
    content: "\f15b"
}
.svt_icon--twitter-square:before {
    content: "\f15c"
}
.svt_icon--twitter:before {
    content: "\f15d"
}
.svt_icon--up-circle:before {
    content: "\f15e"
}
.svt_icon--video-new-window:before {
    content: "\f15f"
}
.svt_icon--video-window-large:before {
    content: "\f160"
}
.svt_icon--video-window-small:before {
    content: "\f161"
}
.svt_icon--warning:before {
    content: "\f162"
}
.svt_icon--watch:before {
    content: "\f163"
}
.svt_icon--world-ban:before {
    content: "\f164"
}
.svt_icon--world:before {
    content: "\f165"
}
.svt_icon {
    vertical-align: baseline
}
.svt_icon--align-top {
    vertical-align: top
}
.svt_icon--align-middle {
    vertical-align: middle
}
.svt_icon--rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}
.svt_icon--rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
.svt_icon--rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}
.svt_icon--fw-small {
    width: 1em
}
.svt_icon--fw-medium {
    width: 1.5em
}
.svt_icon--fw-large {
    width: 2em
}
.svt_icon--1x {
    font-size: 1em
}
.svt_icon--2x {
    font-size: 2em
}
.svt_icon--3x {
    font-size: 3em
}
.svt_icon--4x {
    font-size: 4em
}
.svt_icon--5x {
    font-size: 5em
}
/*# sourceMappingURL=icons.css.map */