.wrapper {
  padding: 16px 0 0;
  border-top: 1px solid #E8E8E8;
  border-left: 5px solid #A90213;
  padding-left: 10px;
  margin-bottom: 64px;
  margin-bottom: 4rem;
  &+& {
    border-top: 1px solid #E8E8E8;
  }
}


.time {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: #a90213;
}

@media all and (max-width: 600px) {
  .time {
    font-size: 1.2rem;
    line-height: 23px;
  }
}