.wrapper {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.title {
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  font-family: inherit;
}

@media all and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
    line-height: 25px;
  }
}