.wrapper {
  margin-top: 16px;
}

.title {
  font-family: inherit;
  //border-bottom: 1px solid #d1d3d4;
  //padding-bottom: 1rem;
  //margin-bottom: 1rem;
  font-size: 1rem;
}
​
.table {
  font-size: 1rem;
  width: 100%;

  th,
  td {
    text-align: right;
  }
  ​
  th {
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  ​
  tbody td {
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
}
