:global {
  #g-flygplats-big{
    position:relative;
    overflow:hidden;
  }
  .g-aiAbs{
    position:absolute;
  }
  .g-aiImg{
    display:block;
    width:100% !important;
  }
  #g-flygplats-big p{
    font-family:nyt-franklin,arial,helvetica,sans-serif;
    font-size:13px;
    line-height:18px;
    margin:0;
  }
  #g-flygplats-big .g-aiPstyle0 {
    font-family:arial,helvetica,sans-serif;
    font-size:30px;
    line-height:36px;
    font-weight:bold;
    color:#fcfcfc;
  }
  #g-flygplats-big .g-aiPstyle1 {
    font-family:arial,helvetica,sans-serif;
    font-size:45px;
    line-height:60px;
    font-weight:bold;
    color:#ff0000;
  }
  #g-flygplats-big .g-aiPstyle2 {
    font-family:arial,helvetica,sans-serif;
    font-size:30px;
    line-height:36px;
    font-weight:bold;
    color:#fcfafa;
  }
  .g-aiPtransformed p { white-space: nowrap; }
  .g-artboard {
    margin:0 auto;
  }

  @media all and (max-width: 500px) {
    #g-flygplats-big .g-aiPstyle2, #g-flygplats-big .g-aiPstyle0 {
      font-size:20px;
    }

    #g-flygplats-big .g-aiPstyle1 {
      font-size: 30px;
    }
  }
}